@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

::selection {
  color: #fff;
  background: #17a2b8;
}
.wrapper {
  width: 90%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
div h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.priceInput {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
.priceInput .field {
  display: flex;
  width: 100%;
  align-items: center;
}
.field input {
  width: 100%;
  padding: 0.2rem 0;
  outline: none;
  font-size: 1rem;

  text-align: center;
  border-radius: 5px;
  border: 1px solid #00000035;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.priceInput .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 3px;
  position: relative;
  background: #777171;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #5cc83c7b;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  border: 1px solid rgb(153, 153, 153);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #eff3f3;
  pointer-events: auto;
  -webkit-appearance: none;
}
