.container {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  padding: 0 3rem;
}

.item {
  aspect-ratio: 4/2;
  min-width: 25rem;
  max-width: 30rem;
  flex: 1;
  padding: 2rem;
  background-repeat: no-repeat;
  transition: transform 0.5s;
  transform-origin: right center;
  position: relative;
  background-size: cover;
  box-shadow: 3px 3px 16px 0px rgba(0, 0, 0, 0.75);
}

.now {
  display: flex;
  opacity: 0;
  position: absolute;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.339);
  top: 0;
  left: 0;
  transition: opacity 0.2s;
  p {
    margin: auto;
  }
}

.item:hover {
  // transform: scale(0.97);
  cursor: pointer;
}

.item:hover .now {
  opacity: 1;
}

@media (max-width: 768px) {
  .container {
  }
  .item {
    min-width: 15rem;
  }
}
