.wrapper {
  border-top: 2px solid #000;
  padding: 5rem;
}

.container {
  display: flex;
}

.activeFilters {
  height: 5rem;
  margin-bottom: 3rem;
}

.filtersList {
  width: 15vw;
  border-right: 2px solid #0000004c;
}

.filterTitle {
  font-size: 1.3rem;
  font-weight: 700;
}

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem 0.5rem;
}

.filterItem {
  width: 48%;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.input {
  display: inline;
  margin-right: 0.3rem;
}

// goods

.goods {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 2rem;
}

.item {
  min-width: 30%;
  flex: 1;
  position: relative;
  transition: transform 0.2s;
}

.itemImg:hover {
  transform: scale(1.05);
}

.underItem {
  height: 3rem;
  display: flex;
  margin-top: 1rem;
  text-wrap: wrap;
}

.itemTitle {
  font-size: 1.2rem;
  &:hover {
    cursor: pointer;
  }
}

.itemPrice {
  font-size: 1.5rem;
  font-weight: 700;
}

.itemImgContainer {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.itemImg {
  width: 100%;
  position: relative;
  top: -5rem;
  height: fit-content;
  transition: 0.2s ease-in-out;
}

.actions {
  display: flex;
  margin-left: auto;
  button {
    flex: 1;
    height: 2rem;
    // transition: transform .2s;
    &:active {
      transform: scale(1.2) rotate(10deg);
    }
  }
}

.icon {
  height: 2rem;
  &:active {
    // transform: rotate(10deg);
  }
}

.addToCart {
  font-size: 3rem;
  font-weight: 700;
  line-height: 2rem;
  &:active {
    transform: scale(1.1);
  }
}
.switcher {
}
.none {
  display: none;
}
@media (max-width: 1280px) {
  .wrapper {
    padding: 2rem;
  }

  .container {
    display: block;
  }

  .filters {
    display: flex;
    border: none;
  }
  .filtersList {
    width: 100%;
    border: none;
    display: flex;
    flex-wrap: wrap;
  }
  .activeFilters {
    min-width: 10rem;
  }
  .filterName {
    display: flex;
  }
  .filterItem {
    width: 7rem;
  }
  // item
  .goods {
    padding: 2rem;
    justify-content: space-between;
    margin: auto;
  }
  .item {
    margin-bottom: 1rem;
  }
  .actions {
  }
  .itemTitle {
  }
  .itemPrice {
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 1rem 0 0 1rem;
  }
  .filterName {
    width: 100%;
    justify-content: space-around;
    & > div {
      width: 7rem;
    }
  }
  .goods {
  }
}
@media (max-width: 530px) {
  .filters {
    display: block;
  }
  .filtersList {
    display: block;
  }
  .item {
    min-width: 100%;
  }
  .itemImg {
    // width: 100%;
    // position: inherit;
  }
}
@media (max-width: 420px) {
  .filterName {
    display: block;
    & > div {
      width: 100%;
    }
  }
  .filter {
  }
}
