.cartPreview {
  transition: background-color 0.3s;
  width: 20rem;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #00000051;
  z-index: -1;
  & > div {
    padding: 1rem;
  }
  // headear
  .previewHeader {
    display: flex;
    justify-content: space-between;
  }
  .previewHeader_Title {
    font-size: 1.3rem;
    font-weight: 700;
    span {
      font-weight: normal;
    }
  }
  // main
  .previewList {
    background-color: #e5e5e3;
    max-height: 25rem;
    overflow-y: auto;
    .previewItem {
      display: flex;
      gap: 1rem;
      padding: 1rem 0;
      border-bottom: 2px solid #fff;
      .previewImg {
        height: 8rem;
      }
    }
  }
  // footer
  .previewFooter {
    display: flex;
    justify-content: space-between;
    button {
      padding: 1rem 2rem;
    }
    .viewBag {
      border: 1px solid #0000004c;
      &:hover {
        background-color: #00000017;
      }
    }
    .checkout {
      background-color: #009d34;
      color: #fff;
      &:hover {
        background-color: #006637;
      }
    }
  }
  .previewNote {
    border-top: 1px solid #00000022;
    background-color: #e5e5e3;
    text-align: center;
  }
}
