.container {
  background-color: #e5e5e3;
  display: flex;
  margin-bottom: 4rem;

  overflow: hidden;
  div {
  }
  img {
    height: fit-content;
    max-width: 40%;
  }
}

.content {
  margin: auto;
  width: fit-content;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 5rem 0;
    gap: 5rem;
    div {
    }
    img {
      max-width: 100vw;
    }
  }
}
