.wrapper {
  position: fixed;
  width: 100vw;
  height: 4.5rem;
  z-index: 1;
  top: 0;
}

.header {
  background-color: #fff;
  display: flex;
  flex: 1;
  padding: 1rem 3rem;
}

.header > div {
  flex: 1;
}

.icon {
  cursor: pointer;
  height: 2rem;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.1);
  }
}

.logo {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  letter-spacing: 0;
  width: fit-content;

  p {
    text-wrap: nowrap;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

.logoIcon {
  height: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.link {
  cursor: pointer;
  font-size: 1.8rem;

  &:hover {
    border-bottom: 2px solid #000;
  }
}

.actions {
  align-items: center;
  display: flex;
  justify-content: right;
}

.cart {
}

.search {
  align-items: center;
  background-color: transparent;
  border-radius: 2rem;
  display: flex;
  margin-right: 1rem;
  padding: 0.2rem 0.5rem;

  input {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    max-width: 10vw;
    outline: none;
    width: 10rem;

    &::placeholder {
      font-size: 1.2rem;
    }
  }

  &:hover {
    background-color: rgb(223, 223, 223);
  }
}

.inputFocused {
  background-color: rgb(223, 223, 223);

  input::placeholder {
    color: rgba(0, 0, 0, 0.293);
  }
}

.clear {
  color: #000000e3;
  font-size: 1.6rem;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.hide {
  color: transparent;
  font-size: 1.6rem;
}

/* Adaptive Styles */

.burger {
  background: transparent;
  cursor: pointer;
  display: none;
  height: 30px;
  position: relative;
  transform: scale(0.6);
  width: 40px;
}

.burger input {
  display: none;
}

.burger span {
  background: black;
  border-radius: 9px;
  display: block;
  height: 4px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  width: 100%;

  &:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }

  &:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  &:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
    transform-origin: left center;
  }
}

.burger input:checked ~ span:nth-of-type(1) {
  left: 5px;
  top: 0px;
  transform: rotate(45deg);
}

.burger input:checked ~ span:nth-of-type(2) {
  opacity: 0;
  width: 0%;
}

.burger input:checked ~ span:nth-of-type(3) {
  left: 5px;
  top: 28px;
  transform: rotate(-45deg);
}

.burger input[type="checkbox"]:checked ~ .wrapper .dropdown {
  background-color: #fff;
}

/* Dropdown Menu */

.dropdown {
  background-color: #fff;
  display: none;
  flex-direction: column;
  height: 20%;
  position: relative;
  z-index: -1;
  div {
    width: 110vw;
    padding-bottom: 1rem;
    position: relative;
    transition: top 1s;
    background-color: rgb(255, 255, 255);
    left: -1vw;
    &:hover {
      border: 1px solid #0000004e;
      border-top: none;
    }
  }
  div:nth-child(1) {
    top: 0;
  }
  div:nth-child(2) {
    top: 0;
  }
}

.dropdown > div {
  flex: 1;
  text-align: center;
  border: 1px solid #000000;
  border-top: none;
}

.flex {
  display: flex;
}

.none {
  height: 0;
  position: relative;
  div:nth-child(1) {
    top: -10vh;
  }
  div:nth-child(2) {
    top: -15vh;
  }
}

/* Media Queries */

@media (max-width: 1024px) {
  .dropdown {
    display: flex;
  }
  .actions {
    justify-content: center;
  }

  .burger {
    display: block;
  }

  .header {
    border-bottom: 1px solid #00000044;
    justify-content: space-between;
  }

  .header > div {
    flex: 0;
  }

  .nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .actions {
    justify-content: space-between;

    .search {
      margin-right: 0;
      padding: 0;

      input {
        min-width: 4rem;
      }
    }
  }

  .header {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    align-items: center;
    font-size: 2rem;

    .icon {
      padding-left: 0.5rem;
    }

    img {
      height: 3rem;
    }

    p {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .header {
    padding: 1rem 0;
  }
}
