@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,700&display=swap");
:root {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  all: unset;
  &:hover {
    cursor: pointer;
  }
}

/*  */

.App {
  padding-top: 4.4rem;
}

.pageContainer {
  min-height: 50vh;
}
