.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0 2rem;
}

// control
.control {
  padding: 0 2rem;
  p {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 1px solid #00000073;
  }
}
// container
.container {
  height: 35rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  & > div {
    flex: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgConteiner {
  height: fit-content;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.img {
  display: block;
  width: 100%;
  margin-left: auto;
}
// text area

.title {
  width: 18rem;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.desc {
  font-size: 2rem;
  color: #747474;
}

// links
.links {
  height: 3rem;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  a {
    flex: 1;
    display: block;
    text-align: center;
    max-width: 40%;
    min-width: 7rem;
    padding: 1rem;
  }
}

.discovery {
  background-color: #000;
  color: #fff;
}

.shopNow {
  border: 2px solid #000;
  color: #000;
}

// adaptive

.adaptiveControl {
  display: none;
  justify-content: space-between;
  button {
    font-size: 2rem;
    width: 50%;
    text-align: center;
    border: 1px solid #d0cfcf;
  }
}

@media (max-width: 1240px) {
  .wrapper {
    flex-direction: column;
    padding: 2rem 0;
  }

  .control {
    display: none;
  }

  //   container
  .container {
    height: fit-content;
    flex-direction: column;
    gap: 0;
    padding: 0 2rem;
    .title {
      font-size: 5vw;
      width: fit-content;
    }
    .desc {
      font-size: 3.5vw;
    }

    .img {
      width: 70vw;
      margin: auto;
    }
  }

  //   links
  .links {
    gap: 0.5rem;
    a {
      padding: 0.5rem 0.1rem;
      min-width: 5rem;
      height: fit-content;
      text-wrap: nowrap;
    }
  }
  .adaptiveControl {
    display: flex;
    margin-top: 2rem;
    button {
      font-size: 4rem;
    }
  }
}

@media (max-width: 768px) {
  .desc {
    height: 10rem;
  }
}
